<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<a href="#/movies/new"><b>Anna uusi elokuva</b></a><br>
<h1>Elokuvat</h1>
<ul>
  <li ng-repeat="movie in movies">
    <label>Nimi: <a ng-href="#/movies/{{movie.$id}}">{{movie.name}}</a></label> <button ng-click="removeMovie(movie)">Poista</button><br>
    <label>Ohjaaja: {{movie.director}}</label><br>
    <label>Julkaisuvuosi: {{movie.released}}</label><br>
    <label>Kuvaus: {{movie.description}}</label><br>
    <label>ID: {{movie.$id}}</label>
  </li>
</ul>
