<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- Tehtävä 46 -->
<button type="button" class="btn btn-outline-light" btn-sm ng-click="logIn()" ng-if="!userLoggedIn">Kirjaudu sisään</button><!-- Tehtävä 46 -->
<!--<a href="#/login" ng-hide="userLoggedIn"><b>Kirjaudu sisään</b></a>&nbsp;-->
<a href="#/movies/new" ng-show="userLoggedIn"><b>Anna uusi elokuva</b></a>&nbsp;
<h2>Hae elokuvia</h2>
<form novalidate name="movieSearchForm">
    <p>
      <label>Nimi</label>
      <input type="text" ng-model="movie.name" name="uMovieName" required ng-minlength="2"><br>
      <div ng-show="movieSearchForm.uMovieName.$invalid && movieSearchForm.uMovieName.$dirty">
        Anna elokuvan nimi.
      </div>
    </p>
    <p>
      <label>Julkaisuvuosi</label>
      <input type="number" ng-model="movie.release" name="uMovieRelease" required ng-pattern="/^[12]\d{3}$/"><br>
      <div ng-show="movieSearchForm.uMovieRelease.$invalid && movieSearchForm.uMovieRelease.$dirty">
        Anna elokuvan julkaisuvuosi.
      </div>
    </p>
    <input type="submit" ng-click="searchMovie(movie)" value="Etsi" ng-disabled="movieSearchForm.$invalid">
</form>
<div ng-hide="hideResult">
    <div ng-hide="movie.moviesFound">
    Hakusanalla ei löytynyt elokuvia
    </div>
    <div ng-show="movie.moviesFound">
        Haulla löytyi {{foundMovies.length}} <span ng-pluralize count="foundMovies.length" when="{ '0': 'elokuvaa', 'one': 'elokuva', 'other': 'elokuvaa' }"></span>
        <ul>
            <li ng-repeat="movie in foundMovies">
                <label><a ng-href="http://http://www.imdb.com/title/{{movie.imdbID}}/">{{movie.Title}}</a></label>&nbsp;<label>{{movie.Year}}</label><br>
            </li>
        </ul>
    </div>
</div>
<h2>Elokuvat</h2>
<ul>
  <li ng-repeat="movie in movies">
    <!--<label>Nimi: <a ng-href="#/movies/{{movie.$id}}">{{movie.name}}</a></label>&nbsp;<button ng-click="removeMovie(movie)">Poista</button><br>-->
    <label>Nimi: <a ng-href="#/movies/{{movie.$id}}">{{movie.name}}</a></label>&nbsp;<button ng-click="removeMovie(movie)" ng-show="userLoggedIn">Poista</button><br>
    <label>Ohjaaja: {{movie.director}}</label><br>
    <label>Julkaisuvuosi: {{movie.released}}</label><br>
    <label>Kuvaus: {{movie.description}}</label><br>
    <label>ID: {{movie.$id}}</label>
  </li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8">

        </div>
        <div class="col-sm-4 col-md-4">
            <button type="button" class="btn btn-outline-light" btn-sm ng-click="logIn()" ng-if="!userLoggedIn">Kirjaudu sisään</button><!-- Tehtävä 46 -->
            <button type="button" class="btn btn-outline-light" btn-sm ng-click="newMovie()" ng-if="userLoggedIn">Anna uusi elokuva</button>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h2>Hae elokuvia</h2>
            <form novalidate name="movieSearchForm">
                <div class="form-group">
                    <label for="uMovieName">Nimi</label>
                    <input type="text" class="form-control" ng-model="movie.name" name="uMovieName" id="uMovieName" placeholder="Anna elokuvan nimi." required ng-minlength="2"><br>
                    <div ng-show="movieSearchForm.uMovieName.$invalid && movieSearchForm.uMovieName.$dirty">
                      Anna elokuvan nimi.
                    </div>
                </div>
                <div class="form-group">
                    <label for="uMovieRelease">Julkaisuvuosi</label>
                    <input type="number" class="form-control" ng-model="movie.release" name="uMovieRelease" id="uMovieRelease" placeholder="Anna elokuvan julkaisuvuosi." required ng-pattern="/^[12]\d{3}$/"><br>
                    <div ng-show="movieSearchForm.uMovieRelease.$invalid && movieSearchForm.uMovieRelease.$dirty">
                      Anna elokuvan julkaisuvuosi.
                    </div>
                </div>
                <!--<input type="submit" ng-click="searchMovie(movie)" value="Etsi" ng-disabled="movieSearchForm.$invalid">-->
                <!--<div class="input-group">
                    <input type="submit" class="input-group-sm" ng-click="searchMovie(movie)" value="Etsi" ng-disabled="movieSearchForm.$invalid">
                </div>-->
                <button type="button" class="btn btn-primary" ng-click="searchMovie(movie)" ng-disabled="movieSearchForm.$invalid">Etsi</button>
            </form>
            <div ng-hide="hideResult">
                <div ng-hide="movie.moviesFound">
                    <h4>Hakusanalla ei löytynyt elokuvia</h4>
                </div>
                <div ng-show="movie.moviesFound">
                    <h4>Haulla löytyi {{foundMovies.length}} <span ng-pluralize count="foundMovies.length" when="{ '0': 'elokuvaa', 'one': 'elokuva', 'other': 'elokuvaa' }"></span></h4>
                    <ul>
                        <li ng-repeat="movie in foundMovies">
                            <label><a ng-href="http://http://www.imdb.com/title/{{movie.imdbID}}/">{{movie.Title}}</a></label>&nbsp;<label>{{movie.Year}}</label><br>
                        </li>
                    </ul>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nimi</th>
                                <th scope="col">Julkaisuvuosi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="movie in foundMovies">
                                <td><a ng-href="http://http://www.imdb.com/title/{{movie.imdbID}}/">{{movie.Title}}</a></td>
                                <td>{{movie.Year}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h2>Elokuvat</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nimi</th>
                        <th scope="col">Ohjaaja</th>
                        <th scope="col">Julkaisuvuosi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in movies">
                        <td><a ng-href="#/movies/{{movie.$id}}">{{movie.name}}</a></td>
                        <td>{{movie.director}}</td>
                        <td>{{movie.released}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>