<!--
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elokuvakirjasto by tipa65</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <a href="https://pacific-meadow-81378.herokuapp.com/">Elokuvakirjasto by tipa65 Herokussa</a>

    Hyödyllisiä kirjastoja
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>

     Linkitä omat tiedostosi tähän (huomaa, että polun juuri on web-kansio!)
    <script src="app/app.js"></script>    
  </body>
</html>-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elokuvakirjasto by tipa65</title>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.2-dist/css/bootstrap.min.css"><!-- Kpl 18.1 -->
  <body ng-app="MovieLibraryApp">
    <button ng-click="logOut()" ng-if="userLoggedIn">Kirjaudu ulos</button><!-- Tehtävä 46 -->
    <div ng-view></div>

    <!-- Tehtävä 46. Authentikaation vaatii Googlen uuden Auth SDK:n käyttöä -->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCBMDFmWfC7Zbr_306bcC4-bfeB4r2XMZY",
            authDomain: "my-first-app-a52e5.firebaseapp.com",
            databaseURL: "https://my-first-app-a52e5.firebaseio.com",
            projectId: "my-first-app-a52e5",
            storageBucket: "my-first-app-a52e5.appspot.com",
            messagingSenderId: "741237582288"
        };
        firebase.initializeApp(config);
    </script>
      
    <!-- Hyödyllisiä kirjastoja -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>

    <script src="js/libs/jquery/jquery.min.js"></script><!-- Kpl 18.1 -->
    <script src="bootstrap-3.3.2-dist/js/bootstrap.min.js"></script><!-- Kpl 18.1 -->
    
    <!-- Linkitä omat tiedostosi tähän (huomaa, että polun juuri on web-kansio!) -->
    <script src="app/app.js"></script>
    <script src="app/controllers/addmovie_controller.js"></script>
    <script src="app/controllers/listmovie_controller.js"></script>
    <script src="app/controllers/editmovie_controller.js"></script>
    <script src="app/controllers/showmovie_controller.js"></script>
    <script src="app/controllers/user_controller.js"></script> <!-- Tehtävä 46 -->
    <script src="app/controllers/listmovie2_controller.js"></script> <!-- Tehtävä 46 -->
    <script src="app/services/firebase_service.js"></script>
    <script src="app/services/api_service.js"></script>
    <script src="app/services/authentication_service.js"></script> <!-- Tehtävä 46 -->
  </body>
</html>